<div class="steps-content">
  <!--  step 02 content-->
  <div nz-row>
    <form nz-form [formGroup]="personalInformationForm" [nzAutoTips]="autoTips">
      <div nz-row>
        <div nz-col nzXs="24" nzLg="12" nzXl="12">
          <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzLg="23" nzXl="23">
              <!-- <nz-form-item>
                <nz-form-label>Contact Title<span class="required-mark">*</span></nz-form-label>
                <nz-form-control nzSpan=""> -->
              <!-- <ng-select nz-dropdown  class="dropdown" bindLabel="contactTitle" id="ctitleName"
                    formControlName="ctitleName" placeHolder="Select Contact Title"></ng-select> -->
              <!-- <nz-select class="dropdown" formControlName="ctitleName" id="ctitleName" bindLabel="contactTitle"
                    nzShowSearch nzAllowClear nzPlaceHolder="Select Contact Title">
                    <nz-option nzValue="Mr" nzLabel="Mr"></nz-option>
                    <nz-option nzValue="Mrs" nzLabel="Mrs"></nz-option>
                    <nz-option nzValue="Sir" nzLabel="Sir"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item> -->
            </div>
          </div>
        </div>
        <div nz-col nzXs="24" nzLg="12" nzXl="12">
          <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzLg="23" nzXl="23">
              <nz-form-item>
                <nz-form-label>First Name</nz-form-label>
                <nz-form-control nzSpan="">
                  <input
                    nz-input
                    id="firstName"
                    type="text"
                    placeholder="First Name"
                    formControlName="firstName"
                    (keypress)="checkAlphabets($event)"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div nz-col nzXs="24" nzLg="12" nzXl="12">
          <div nz-row nzType="flex" nzJustify="end">
            <div nz-col nzXs="24" nzLg="23" nzXl="23">
              <nz-form-item>
                <nz-form-label
                  >Last Name<span class="required-mark">*</span></nz-form-label
                >
                <nz-form-control nzSpan="">
                  <input
                    nz-input
                    id="lastName"
                    type="text"
                    placeholder="Last Name"
                    formControlName="lastName"
                    (keypress)="checkAlphabets($event)"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzXs="24" nzLg="12" nzXl="12">
          <div nz-row nzType="flex" nzJustify="space-between">
            <div class="code" nz-col nzXs="8" nzLg="8" nzXl="8">
              <nz-form-item>
                <nz-form-label
                  >Code<span class="required-mark">*</span></nz-form-label
                >
                <nz-form-control nzSpan="">
                  <nz-select
                    class="dropdown"
                    nzSuffixIcon="caret-down"
                    formControlName="code"
                    nzPlaceHolder="Code"
                    nzAllowClear
                    nzShowSearch
                  >
                    <nz-option
                      *ngFor="let data of countryCodes"
                      [nzValue]="data.countryCodeId"
                      [nzLabel]="data.phonePrefix"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div id="contactNo" nz-col nzXs="15" nzLg="15" nzXl="15">
              <nz-form-item>
                <nz-form-label
                  >Contact Number<span class="required-mark"
                    >*</span
                  ></nz-form-label
                >
                <nz-form-control nzSpan="">
                  <input
                    nz-input
                    id="contactNumber"
                    type="number"
                    formControlName="contactNumber"
                    placeholder="Contact Number"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div nz-col nzXs="24" nzLg="12" nzXl="12">
          <div nz-row nzType="flex" nzJustify="end">
            <div class="agent" nz-col nzXs="24" nzLg="23" nzXl="23">
              <nz-form-item>
                <nz-form-label
                  >User Name (Email)<span class="required-mark"
                    >*</span
                  ></nz-form-label
                >
                <nz-form-control nzSpan="">
                  <input
                    nz-input
                    id="userName"
                    type="text"
                    placeholder="User Name"
                    formControlName="email"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzXs="24" nzLg="8" nzXl="8">
          <div nz-row nzType="flex" nzJustify="center">
            <div nz-col nzXs="24" nzLg="23" nzXl="23">
              <nz-form-item>
                <nz-form-label
                  >Password<span class="required-mark">*</span></nz-form-label
                >
                <nz-form-control nzSpan="">
                  <input
                    nz-input
                    nz-popover
                    id="password"
                    type="password"
                    placeholder="Password"
                    formControlName="password"
                    autocomplete="new-password"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div nz-col nzXs="24" nzLg="8" nzXl="8">
          <div nz-row nzType="flex" nzJustify="end">
            <div nz-col nzXs="24" nzLg="23" nzXl="23">
              <nz-form-item>
                <nz-form-label
                  >Confirm Password<span class="required-mark"
                    >*</span
                  ></nz-form-label
                >
                <nz-form-control nzSpan="">
                  <input
                    nz-input
                    id="confirmPassword"
                    type="password"
                    placeholder="Confirm Password"
                    formControlName="confirmPassword"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzXs="24" nzLg="8" nzXl="8">
          <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzLg="23" nzXl="23">
              <nz-form-item>
                <nz-form-label
                  >Address Line 01<span class="required-mark"
                    >*</span
                  ></nz-form-label
                >
                <nz-form-control nzSpan="">
                  <input
                    nz-input
                    id="addressLineOne"
                    type="text"
                    placeholder="Address Line 01"
                    formControlName="address"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div nz-col nzXs="24" nzLg="8" nzXl="8">
          <div nz-row nzType="flex" nzJustify="center">
            <div nz-col nzXs="24" nzLg="23" nzXl="23">
              <nz-form-item>
                <nz-form-label
                  >City<span class="required-mark">*</span></nz-form-label
                >
                <nz-form-control nzSpan="">
                  <input
                    nz-input
                    id="city"
                    type="text"
                    placeholder="City"
                    formControlName="city"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div nz-col nzXs="24" nzLg="8" nzXl="8">
          <div nz-row nzType="flex" nzJustify="end">
            <div nz-col nzXs="24" nzLg="23" nzXl="23">
              <nz-form-item>
                <nz-form-label>State/Province</nz-form-label>
                <nz-form-control nzSpan="">
                  <input
                    nz-input
                    id="stateProvince"
                    type="text"
                    placeholder="State/Province"
                    formControlName="stateProvince"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>

      <div nz-col nzXs="24" nzLg="8" nzXl="8">
        <div nz-row nzType="flex" nzJustify="start">
          <div nz-col nzXs="24" nzLg="23" nzXl="23">
            <nz-form-item>
              <nz-form-label
                >Post Code<span class="required-mark">*</span></nz-form-label
              >
              <nz-form-control nzSpan="">
                <input
                  nz-input
                  id="postCode"
                  type="text"
                  placeholder="Post Code"
                  formControlName="postCode"
                />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div nz-col nzXs="24" nzLg="8" nzXl="8">
        <div nz-row nzType="flex" nzJustify="center">
          <div nz-col nzXs="24" nzLg="23" nzXl="23">
            <nz-form-item>
              <nz-form-label
                >Country<span class="required-mark">*</span>
              </nz-form-label>
              <nz-form-control nzSpan="">
                <nz-select
                  class="dropdown"
                  nzSuffixIcon="caret-down"
                  formControlName="country"
                  id="country"
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Select Country"
                >
                  <nz-option
                    *ngFor="let data of countryList"
                    [nzValue]="data.countryId"
                    [nzLabel]="data.countryName"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzLg="8" nzXl="8">
        <div nz-row nzType="flex" nzJustify="center">
          <div nz-col nzXs="24" nzLg="23" nzXl="23">
            <nz-form-item>
              <nz-form-label
                >Nationality<span class="required-mark">*</span>
              </nz-form-label>
              <nz-form-control nzSpan="">
                <nz-select
                  nz-dropdown
                  class="dropdown"
                  nzSuffixIcon="caret-down"
                  formControlName="nationality"
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Select Nationality"
                >
                  <nz-option
                    *ngFor="let data of nationalityList"
                    [nzValue]="data.nationalityDetailsId"
                    [nzLabel]="data.nationality"
                  ></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzXs="24" nzLg="8" nzXl="8">
          <div nz-row nzType="flex" nzJustify="start">
            <div nz-col nzXs="24" nzLg="23" nzXl="23">
              <nz-form-item>
                <nz-form-label
                  >Date of Birth<span class="required-mark">*</span>
                </nz-form-label>
                <nz-form-control nzSpan="">
                  <nz-date-picker
                    nzFormat="dd/MM/yyyy"
                    formControlName="dateOfBirth"
                    [nzDisabledDate]="disabledDate"
                  >
                  </nz-date-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div nz-col nzXs="24" nzLg="8" nzXl="8">
          <div nz-row nzType="flex" nzJustify="center">
            <div nz-col nzXs="24" nzLg="23" nzXl="23">
              <nz-form-item>
                <nz-form-label>Place of Birth </nz-form-label>
                <nz-form-control nzSpan="">
                  <input
                    nz-input
                    id="placeOfBirth"
                    type="text"
                    placeholder="Place of Birth"
                    formControlName="placeOfBirth"
                  />
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="btn-row">
    <button
      nz-button
      class="btn btn__high_orange"
      (click)="dualRegistration(); submit()"
    >
      Continue
    </button>
    <button nz-button class="btn btn__cancel" (click)="closeModal()">
      Cancel
    </button>
  </div>
</div>
