<div class="steps-content">
  <!--  step 01 content-->
  <h3 class="title">Signup</h3>

  <form nz-form [formGroup]="personalInformationForm">
    <nz-form-item>
      <div class="input_field_login" nzType="flex">
        <nz-form-label>User Name</nz-form-label>
        <nz-form-control nzSpan="">
          <input
            nz-input
            id="firstName"
            type="text"
            placeholder="First Name"
            formControlName="userName"
          />
        </nz-form-control>
      </div>
    </nz-form-item>

    <nz-form-item>
      <div class="input_field_login" nzType="flex">
        <nz-form-label>Email<span class="required-mark">*</span></nz-form-label>
        <nz-form-control nzSpan="">
          <input
            nz-input
            id="lastName"
            type="email"
            placeholder="Last Name"
            formControlName="email"
          />
        </nz-form-control>
      </div>
    </nz-form-item>

    <nz-form-item>
      <div class="input_field_login" nzType="flex">
        <nz-form-label
          >Password<span class="required-mark">*</span></nz-form-label
        >
        <nz-form-control nzSpan="">
          <input
            nz-input
            id="lastName"
            type="password"
            placeholder="Last Name"
            formControlName="password"
          />
        </nz-form-control>
      </div>
    </nz-form-item>
  </form>

  <div class="btn-row">
    <button
      nz-button
      class="btn btn__high_orange"
      (click)="firstStepContinue()"
    >
      SignUp
    </button>
  </div>
</div>
