<div class="banner-section">
  <video
    *ngIf="!dataService.isLoggedIn"
    class="banner-img"
    src="./assets/video/mainBannerBg.mp4"
    autoplay
    loop
  ></video>
  <video
    *ngIf="dataService.isLoggedIn"
    class="banner-img"
    src="./assets/video/home-banner.mp4"
    autoplay
    loop
  ></video>
  <div class="banner-section-container">
    <div nz-row>
      <!-- <div nz-col nzSpan="8" class="banner-caption"> -->
      <div
        nz-col
        nzXs="24"
        nzLg="16"
        nzXl="16"
        class="banner-caption"
        *ngIf="!dataService.isLoggedIn"
      >
        <h1 *ngIf="country !== ''">
          Spoton Online Money Transfer<br />
          {{ country }}
        </h1>
        <h1 *ngIf="country === ''">
          GP AI <br />
          Revolutionizing Tomorrow <br />with Intelligent Solutions
        </h1>
        <h6 *ngIf="country !== ''">
          Easily send remittances to {{ country }} with our secure and efficient
          service.<br />Experience fast, reliable, and user-friendly
          transactions,<br />
          giving your loved ones in {{ country }} access to funds quickly and
          conveniently.<br />
          Perfect for individuals looking to support their families,<br />
          pay for services, or make personal transfers with ease.
        </h6>
        <h6 *ngIf="country == ''">
          Empower your journey with our suite <br />of AI tools designed for
          enhanced efficiency and insight.
        </h6>
        <div nz-row class="learn-more-row">
          <button
            nz-button
            nzType="primary"
            class="learn-more-btn"
            [routerLink]="['/contact-us-home-page']"
          >
            Contact us
          </button>
        </div>
      </div>
      <div
        nz-col
        nzXs="24"
        nzLg="16"
        nzXl="16"
        class="banner-caption"
        *ngIf="dataService.isLoggedIn"
      >
        <h1>GP AI Uses Simple</h1>
        <h6>Are you ready to get started?</h6>
        <div nz-row class="learn-more-row">
          <button
            nz-button
            nzType="primary"
            class="learn-more-btn"
            [routerLink]="['/how-it-works']"
          >
            Learn More
          </button>
          <a class="play-btn">
            <img
              src="./assets/icons/play-button.png"
              [routerLink]="['/how-it-works']"
            />
            <span class="txt">How it works</span>
          </a>
        </div>
      </div>

      <div nz-col nzXs="24" nzLg="8" nzXl="8">
        <video
          class="banner-img"
          src="./assets/images/spoton_banner.png"
          alt="banner"
        ></video>
      </div>
    </div>
  </div>
</div>
