<nz-content>
  <div class="section">
    <div class="section-container">
      <div class="heading-row">
        <h2 class="heading-1">
          The Most Flexible Money Transfer Solutions for Your <br />
          Business
        </h2>
        <br />
        <h2 class="heading">Start Now with SpotOn Money</h2>
      </div>
      <p>
        Are you looking to foray into the billion-dollar global business of
        remittances? Are you considering <br />
        expanding your remittance network? If you are deliberating about any of
        the above, SpotOn Money is your <br />
        instant gateway to venture into this lucrative industry. Partner with us
        to commence your journey of <br />
        growth.
      </p>
    </div>
  </div>
  <div class="section" style="background-color: #fff">
    <div class="section-container">
      <div class="heading-row">
        <h2 class="heading" style="color: #20366b">
          How do you become an affiliate?
        </h2>
      </div>
      <div class="steps-section">
        <div class="steps-section-container" nz-row>
          <div nz-col nzLg="8" class="step-figure">
            <div class="step-item">
              <span>1</span>
            </div>
            <h5>
              Recommend Spoton Money <br />
              to your customers
            </h5>
          </div>
          <div nz-col nzLg="8" class="step-figure">
            <div class="step-item">
              <span>2</span>
            </div>
            <h5>
              Give your Affiliate code <br />
              to your customers
            </h5>
          </div>
          <div nz-col nzLg="8" class="step-figure">
            <div class="step-item">
              <span>3</span>
            </div>
            <h5>
              Sit back and collect the <br />
              commissions
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="section-container">
      <div class="heading-row">
        <h2 class="heading">What do you get from becoming an affiliate?</h2>
      </div>
      <p>Opportunity to grow your business revenue</p>
      <p>Improve customer flow and loyalty</p>
      <p>No upfront costs</p>
      <p>Get commission on every remittance</p>
    </div>
  </div>
  <div class="section" style="background-color: #fff">
    <div class="section-container">
      <div class="heading-row">
        <h2 class="heading" style="color: #20366b">Why partner with us?</h2>
      </div>
      <p>
        Your Gateway to the World: SpotOn Money has a formidable network and it
        is the founding stone of a <br />
        successful remittance business. SpotOn Money is powered by partnerships
        that have a robust network in <br />
        many countries across all continents. Our global network of partnerships
        include renowned international <br />
        money transfer operators (IMTOs), banks as well as non-banking
        institutions, Telcos, retail chains, online <br />
        remittance players and Fintech companies.
      </p>
      <p>
        A Robust Compliance Framework: Different countries have different
        compliance standards and we execute <br />
        compliance checks which take care of rules-based multi-region KYC, AML
        and regulatory reporting, blacklists <br />
        and data confidentiality within minutes.
      </p>
      <p>
        Our own AML software compliance checks take care of Customer Due
        Diligence, Suspicious Activity <br />
        Monitoring, Watch list Filtering and Integrated Fraud Prevention.
      </p>
    </div>
  </div>
  <div class="section" style="background-color: #fff">
    <div class="section-container">
      <div class="heading-row">
        <h5>Security Is Our Priority</h5>
      </div>
      <div nz-row class="security">
        <div nz-col nzXs="24" nzLg="12" nzXl="12" class="left-sec">
          <p>
            Our process has a multi-layered, state of the art security system in
            place to identify and exterminate any potential threats at every
            stage of our transactions.
          </p>
        </div>
        <div nz-col nzXs="24" nzLg="12" nzXl="12" class="right-sec">
          <div nz-col nzXs="24" nzLg="8" nzXl="8" class="step-figure">
            <div class="step-item">
              <p>HTTPS and SSL Encryption</p>
            </div>
          </div>
          <div nz-col nzXs="24" nzLg="8" nzXl="8" class="step-figure">
            <div class="step-item">
              <p>Multi-factor Authentication</p>
            </div>
          </div>
          <div nz-col nzXs="24" nzLg="8" nzXl="8" class="step-figure">
            <div class="step-item">
              <p>IP Validation</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nz-content>
