<div class="section">
  <div class="section-container">
    <div class="heading-row">
      <h2 class="heading">Frequently Asked Questions</h2>
    </div>
    <div class="item-figure line-align">
      <nz-collapse nzAccordion>
        <nz-collapse-panel [nzHeader]="header1" [nzShowArrow]="false">
          <p [innerHTML]="content1"></p>
        </nz-collapse-panel>
        <nz-collapse-panel [nzHeader]="header2" [nzShowArrow]="false">
          <p [innerHTML]="content2"></p>
        </nz-collapse-panel>
        <nz-collapse-panel [nzHeader]="header3" [nzShowArrow]="false">
          <p [innerHTML]="content3"></p>
        </nz-collapse-panel>
        <nz-collapse-panel [nzHeader]="header4" [nzShowArrow]="false">
          <p [innerHTML]="content4"></p>
        </nz-collapse-panel>
        <nz-collapse-panel [nzHeader]="header5" [nzShowArrow]="false">
          <p [innerHTML]="content5"></p>
        </nz-collapse-panel>
        <!-- <nz-collapse-panel
          [nzHeader]="'How do I change my beneficiary details?'"
          [nzShowArrow]="false"
        >
          <p>
            You can only change the details if you have not made any transfers
            to the beneficiary. If you have already made a transfer, you can
            call us to make minor changes, but we cannot amend the details
            altogether.
          </p>
        </nz-collapse-panel>
        <nz-collapse-panel
          [nzHeader]="'How do I delete my beneficiary?'"
          [nzShowArrow]="false"
        >
          <p>
            You cannot delete your beneficiary, but you can enable/disable your
            beneficiary under My Beneficiary section.
          </p>
        </nz-collapse-panel>

        <nz-collapse-panel
          [nzHeader]="'How can I cancel my transfer request?'"
          [nzShowArrow]="false"
        >
          <p>
            You need to call us immediately if you need to cancel a transfer
            request as they are processed as soon as possible. Processed
            transfers cannot be cancelled. Please refer to our
            <a (click)="gotorefunpolicy()">refund policy.</a>
          </p>
        </nz-collapse-panel>
        <nz-collapse-panel
          [nzHeader]="'Can I request for refunds?'"
          [nzShowArrow]="false"
        >
          <p>
            You can only request refunds for unprocessed transfers. An
            administrative fee applies. Please refer to our
            <a (click)="gotorefunpolicy()">refund policy</a>
            for more details.
          </p>
        </nz-collapse-panel>
        <nz-collapse-panel
          [nzHeader]="'Can I recall a transfer?'"
          [nzShowArrow]="false"
        >
          <p>
            You cannot recall a transfer that has already been processed. Please
            make sure to enter the correct beneficiary details before submitting
            you transfer request.
          </p>
        </nz-collapse-panel>
        <nz-collapse-panel
          [nzHeader]="'Why was my transfer request cancelled?'"
          [nzShowArrow]="false"
        >
          <p>
            Your transfer request might have been cancelled for one of the
            following reasons:
            <br /><br />
            1. You requested the cancellation<br />
            2. You didn’t make the payment for your transfer request on the same
            day of transfer submission.<br />
            3. You didn’t supply the requested documents<br />
            4. The documents you have submitted couldn’t be verified<br />
            5. You have failed our compliance checks
            <br /><br />
            If you think that the above reasons do not apply, please call us on
            0207 341 7300 to rectify the error.
          </p>
        </nz-collapse-panel> -->
      </nz-collapse>
    </div>
  </div>
</div>
