<div class="container">
  <div class="header">
    <p>
      Our bank details have changed.<br />Please use our new bank details to
      make the payments.<br />Sorry for the inconvenience caused.
    </p>
  </div>

  <div class="table-content">
    <div>
      <div nz-row class="table-row heading-row">
        <div nz-col [nzSpan]="12" class="table-col">
          <span>Account Name:</span>
        </div>
        <div nz-col [nzSpan]="12" class="table-col">
          <span>Monex International Limited</span>
        </div>
      </div>
      <div nz-row class="table-row heading-row">
        <div nz-col [nzSpan]="12" class="table-col">
          <span>Account Number:</span>
        </div>
        <div nz-col [nzSpan]="12" class="table-col">
          <span>00000412</span>
        </div>
      </div>
      <div nz-row class="table-row heading-row">
        <div nz-col [nzSpan]="12" class="table-col">
          <span>Sort Code:</span>
        </div>
        <div nz-col [nzSpan]="12" class="table-col">
          <span>04-05-90</span>
        </div>
      </div>
      <div nz-row class="table-row heading-row">
        <div nz-col [nzSpan]="12" class="table-col">
          <span>Bank Name:</span>
        </div>
        <div nz-col [nzSpan]="12" class="table-col">
          <span>Clear Bank</span>
        </div>
      </div>
      <div nz-row class="table-row heading-row">
        <div nz-col [nzSpan]="12" class="table-col">
          <span>IBAN:</span>
        </div>
        <div nz-col [nzSpan]="12" class="table-col">
          <span>GB15CLRB04059000000412</span>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-row">
    <button
      nz-button
      class="btn"
      id="okButtontranaction"
      (click)="closeModel()"
    >
      OK
    </button>
  </div>
</div>
