<div nz-row nzType="flex" nzJustify="center" class="modal-content">
  <div nz-col nzSpan="28" class="content-figure">
    <h3 class="title">
      Please make a payment of GBP 10030.00 to below bank account with the
      <br />
      reference <span class="title_orange">UKSP49349</span>
    </h3>
    <nz-table nzBordered>
      <tbody>
        <tr>
          <td>Account Name:</td>
          <td>SpotOn Money</td>
        </tr>
        <tr>
          <td>Account Number:</td>
          <td>59196602</td>
        </tr>
        <tr>
          <td>Sort Code:</td>
          <td>60-80-05</td>
        </tr>
        <tr>
          <td>Bank Name:</td>
          <td>National Westminster Bank</td>
        </tr>
        <tr>
          <td>Reference No:</td>
          <td>UKSP49349</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div nz-row class="note">
    <div>
      <span>Please Note:</span>
    </div>
    <div class="note_sub">
      <div class="sub_headding">
        <span>1.&nbsp;</span>
        <span>
          Please make sure that we receive the payment within 4 hours to avoid
          any rate changes or cancellations.
        </span>
      </div>
      <div class="sub_headding">
        <span>2.&nbsp;</span>
        <span>
          Payment needs to be sent from your own account. We cannot accept
          payments from a third party
        </span>
      </div>
      <div class="sub_headding">
        <span>3.&nbsp;</span>
        <span>We do not accept any cash deposit </span>
      </div>
    </div>
  </div>

  <button
    nz-button
    class="btn btn__high_orange btn_ok"
    (click)="openDashboard()"
  >
    OK
  </button>
</div>
