<nz-content>
  <div class="section">
    <div class="section-container">
      <div class="heading-row">
        <h2 class="heading">How to send money<br />with SpotOn Money</h2>
      </div>
      <p>Just follow this 4 simple steps.</p>
    </div>
  </div>
  <div nz-row class="steps-section">
    <div class="steps-section-container">
      <div nz-col nzSpan="6" class="step-figure">
        <div class="step-item">
          <span>1</span>
        </div>
        <h5>Create<br />your<br />account</h5>
      </div>
      <div nz-col nzSpan="6" class="step-figure">
        <div class="step-item">
          <span>2</span>
        </div>
        <h5>Choose how<br />much you want<br />to send</h5>
      </div>
      <div nz-col nzSpan="6" class="step-figure">
        <div class="step-item">
          <span>3</span>
        </div>
        <h5>Add your<br />beneficiary<br />details</h5>
      </div>
      <div nz-col nzSpan="6" class="step-figure">
        <div class="step-item">
          <span>4</span>
        </div>
        <h5>Submit<br />and pay</h5>
      </div>
    </div>
  </div>
  <app-app-download-sec></app-app-download-sec>
</nz-content>
