<div class="modal-content">
  <form
    nz-form
    [nzLayout]="'vertical'"
    [formGroup]="resetPasswordForm"
    [nzAutoTips]="autoTips"
  >
    <div nz-row>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label
            >Password<span class="required-mark"> * </span>
          </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              type="password"
              id="password"
              formControlName="password"
              placeholder="Password"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="24">
        <nz-form-item>
          <nz-form-label
            >Confirm Password<span class="required-mark"> * </span>
          </nz-form-label>
          <nz-form-control>
            <input
              nz-input
              type="password"
              id="password"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
  <div class="btn-row">
    <button nz-button class="btn btn-design cancel-btn" (click)="closeModal()">
      Cancel
    </button>
    <button
      nz-button
      class="btn btn-design submit-btn"
      (click)="changePassword()"
    >
      Submit
    </button>
  </div>
</div>
