<div nz-row class="title-bar">
  <div nz-col [nzSpan]="24">
    <h1 class="page-heading">Settings</h1>
  </div>
</div>
<!-- <div class="content-figure">
  <nz-tabset>
    <nz-tab nzTitle="Basic Informations">
      <div class="content-figure">
        <app-basic-informations></app-basic-informations>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Identity Details">
      <div class="content-figure">
        <app-identity-details></app-identity-details>
      </div>
    </nz-tab>
  </nz-tabset>
</div> -->

<div class="content-figure">
  <nz-tabset [nzSelectedIndex]="dataService.settingtSelectedIndex">
    <nz-tab nzTitle="Basic Informations">
      <div class="basic-info">
        <app-basic-informations></app-basic-informations>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Identity Details">
      <div>
        <app-identity-details></app-identity-details>
      </div>
    </nz-tab>
  </nz-tabset>
</div>
