<nz-content>
  <div class="section">
    <div class="section-container">
      <div class="heading-row">
        <h2 class="heading">About Us</h2>
      </div>
      <p>
        Welcome to GP_AI, your trusted partner in AI-powered solutions. We are
        dedicated to creating intuitive,<br />
        efficient tools that simplify your daily tasks, whether you’re a
        student, professional, entrepreneur, or creative.
      </p>
      <div class="heading-row">
        <h2 class="heading">Our Mission</h2>
      </div>
      <p>
        At GP_AI, our mission is to bridge the gap between advanced technology
        and everyday needs.<br />
        We believe that everyone should have access to powerful,
        <br />user-friendly AI tools that can streamline work, boost
        productivity, and save time.<br />
        By providing AI-driven services, from image-to-text conversion to
        background removal, <br />we empower you to focus on what matters most.
      </p>
    </div>
  </div>
  <div class="section sec-two" style="background-color: #fff">
    <div class="section-container code-section" style="padding-bottom: 10px">
      <div class="heading-row">
        <h2 class="heading" style="color: #20366b">Code of Practice</h2>
      </div>
      <p>
        Monex International Limited is regulated by HMRC, and registered as a
        Money Service Business since <br />
        December 2003; Registration Number: XDML00000119742. We are obligated to
        conform and comply with <br />
        the strict Anti Money Laundering regulations and practices set by the
        regulators.
      </p>
      <p>
        We do not speculate on the exchange rates and keep our spread on the
        rates low. We may give you <br />
        information and our opinions on market movements in order to guide you
        through an immediate <br />
        transaction, but please be aware that market rates are liable to
        fluctuation and varies throughout the day.
      </p>
      <p>
        We pride ourselves in providing all our customers with an excellent
        level of service and the best return for <br />
        your money which cannot be obtained from the banks or larger
        corporations.
      </p>
      <p>
        SpotOn Money is registered with FCA as a Small Payment Institution.
        Registration Number: FRN-510848
      </p>
      <p>
        Link FX PLC is an FCA Authorised Payment Institution; Registration
        Number: 535266
      </p>
      <p>
        We are obligated to notify the UK data protection regulator ("The
        Information Commissioner's Office" or <br />
        the "ICO"). Furthermore, we are obligated to notify security breaches to
        Regulatory bodies when such <br />
        breaches do not relate to personal data. Therefore, we ensure that we
        have adequate measures and a <br />
        suitable Data Breach Notification Policy in place to respond to any
        security breach in accordance with any <br />
        requirements.
      </p>
    </div>
  </div>
  <app-features-eu-sec></app-features-eu-sec>
  <app-app-download-sec></app-app-download-sec>
</nz-content>
