<nz-content>
  <div class="section">
    <div class="section-container">
      <div class="heading-row">
        <h2 class="heading">About Us</h2>
      </div>
      <p>
        SpotOn Money, in association with Link FX PLC is a trading arm of Monex
        International Limited, which is an <br />
        established and respected Independent Foreign Exchange Specialist,
        providing a range of Forex and Tourism <br />
        related services for general public, private and corporate clients.
      </p>

      <p>
        Our transactions are carried out in association with Link FX PLC; An FCA
        licensed, integrated, secure and <br />
        seamless, technology payments processing platform.
      </p>
      <p>
        SpotOn Money, in association with Link FX PLC is committed to providing
        excellent services. We aim to <br />
        provide our clients with outstanding personalised service and value for
        their money. Our standards and our <br />
        values are core to our professional and dedicated team.
      </p>
    </div>
  </div>
  <div class="section sec-two" style="background-color: #fff">
    <div class="section-container code-section" style="padding-bottom: 10px">
      <div class="heading-row">
        <h2 class="heading" style="color: #20366b">Code of Practice</h2>
      </div>
      <p>
        Monex International Limited is regulated by HMRC, and registered as a
        Money Service Business since <br />
        December 2003; Registration Number: XDML00000119742. We are obligated to
        conform and comply with <br />
        the strict Anti Money Laundering regulations and practices set by the
        regulators.
      </p>
      <p>
        We do not speculate on the exchange rates and keep our spread on the
        rates low. We may give you <br />
        information and our opinions on market movements in order to guide you
        through an immediate <br />
        transaction, but please be aware that market rates are liable to
        fluctuation and varies throughout the day.
      </p>
      <p>
        We pride ourselves in providing all our customers with an excellent
        level of service and the best return for <br />
        your money which cannot be obtained from the banks or larger
        corporations.
      </p>
      <p>
        SpotOn Money is registered with FCA as a Small Payment Institution.
        Registration Number: FRN-510848
      </p>
      <p>
        Link FX PLC is an FCA Authorised Payment Institution; Registration
        Number: 535266
      </p>
      <p>
        We are obligated to notify the UK data protection regulator ("The
        Information Commissioner's Office" or <br />
        the "ICO"). Furthermore, we are obligated to notify security breaches to
        Regulatory bodies when such <br />
        breaches do not relate to personal data. Therefore, we ensure that we
        have adequate measures and a <br />
        suitable Data Breach Notification Policy in place to respond to any
        security breach in accordance with any <br />
        requirements.
      </p>
    </div>
  </div>
  <app-features-eu-sec></app-features-eu-sec>
  <app-app-download-sec></app-app-download-sec>
</nz-content>
