<div class="section">
  <div class="section-container">
    <div nz-row>
      <!-- <div nz-col nzXs="24" nzLg="13" nzXl="13" class="left-sec">
          <img class="bg-img" src="./assets/images/money-worldwide.png">
          <img class="img-1" src="./assets/images/desc-img-1.png">
          <img class="img-2" src="./assets/images/desc-img-2.png">
        </div> -->
      <div nz-col nzXs="24" nzLg="11" nzXl="11" class="left-sec">
        <div class="desc">
          <h5>For Personal</h5>
          <p>
            Transferring and sending money to your family and friends with
            SpotOn Money is a simple process, with our money transfer service.
            We have endeavoured successfully to gain trust from our customers.
          </p>
        </div>
      </div>
      <div nz-col nzXs="24" nzLg="2" nzXl="2"></div>
      <div nz-col nzXs="24" nzLg="11" nzXl="11" class="right-sec">
        <div class="desc">
          <h5>For Corporate</h5>
          <p>
            We offer our corporate clients our global payments platform for
            international trade where you can collect, hold and make payments
            globally in selected currencies.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
