<div class="main_container">
  <div class="container">
    <div class="icon">
      <img src="./assets/icons/error.png" />
    </div>
    <div class="texts_heading">
      <span>Document Upload failed</span>
    </div>
    <div class="texts_para">
      <span
        >Please check and upload the document <br />
        before resubmitting.</span
      >
    </div>
    <div class="button">
      <button
        nz-button
        class="upload_btn"
        id="checkDocument"
        (click)="OpenSettingPage()"
      >
        Upload Document
      </button>
    </div>
  </div>
</div>
