<div class="section">
  <div class="section-container">
    <div nz-row>
      <div nz-col nzXs="24" nzLg="6" nzXl="6" class="feature-item">
        <div nz-row nzType="flex" nzJustify="center">
          <div nz-col nzSpan="16">
            <h3>Reliable</h3>
            <img src="./assets/icons/low-cost.png" />
            <!-- <p>Our low fees and exchange rates are shown upfront</p> -->
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzLg="6" nzXl="6" class="feature-item">
        <div nz-row nzType="flex" nzJustify="center">
          <div nz-col nzSpan="16">
            <h3>Instant</h3>
            <img src="./assets/icons/fast.png" />
            <!-- <p>Get your money to family and friends in minutes</p> -->
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzLg="6" nzXl="6" class="feature-item">
        <div nz-row nzType="flex" nzJustify="center">
          <div nz-col nzSpan="16">
            <h3>Easy</h3>
            <img src="./assets/icons/simple.png" />
            <!-- <p>It’s easy to use and we’re here to help round the clock</p> -->
          </div>
        </div>
      </div>
      <div nz-col nzXs="24" nzLg="6" nzXl="6" class="feature-item">
        <div nz-row nzType="flex" nzJustify="center">
          <div nz-col nzSpan="16">
            <h3>Trustworthy</h3>
            <img src="./assets/icons/star-rating.png" />
            <!-- <p>Ensuring your money is protected with guaranteed delivery</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
