<div class="section" [style.background-image]="backgroundImage">
  <div class="section-container">
    <div nz-row>
      <div nz-col nzXs="24" nzLg="12" nzXl="12" class="left-sec"></div>
      <div nz-col nzXs="24" nzLg="12" nzXl="12" class="right-sec">
        <div class="desc">
          <p>
            Sending money to the {{ country }} has never been easier! With our
            website or app, simply enter the amount, select the payout location,
            and choose your payment method—whether it’s your bank account or
            card. It’s that simple!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
