<div class="section">
  <div class="section-container">
    <div class="bg-caption">
      <h1>SpotOn Money works<br />even better with our app!</h1>
      <!-- <h1>SpotOn App coming soon...</h1> -->
      <div class="btn-row">
        <a href={{appleApp}} target="_blank">
          <img src="./assets/images/btn-AppleStore.png" />
        </a>
        <a href={{androidApp}} target="_blank">
          <img src="./assets/images/btn-GooglePlay.png" />
        </a>
      </div>
    </div>
    <!-- <div class="mob-view-img"></div> -->
  </div>
</div>
<div class="mob-view-img"></div>
