<div class="section" id="howItWorks">
  <div class="section-container">
    <div class="heading-row">
      <h2 class="heading">How It Works</h2>
    </div>
    <div nz-row>
      <div nz-col nzXs="24" nzLg="12" nzXl="12" class="left-sec">
        <p>
          Sending money with SpotOn Money is simply quick and secure. You can
          register online and <br />
          make the transfers within minutes. Simply register and upload your
          details online, and <br />
          once you have been approved by our dedicated team, you can Send Money
          without coming to our office.
        </p>
        <p>It is simple: 3 simple steps!!</p>
      </div>
      <div nz-col nzXs="24" nzLg="12" nzXl="12" class="right-sec">
        <div nz-col nzXs="24" nzLg="8" nzXl="8" class="step-figure">
          <div class="step-item">
            <p>
              <span>1</span>Register online <br />
              now
            </p>
          </div>
        </div>
        <div nz-col nzXs="24" nzLg="8" nzXl="8" class="step-figure">
          <div class="step-item">
            <p><span>2</span>Add a Beneficiary</p>
          </div>
        </div>
        <div nz-col nzXs="24" nzLg="8" nzXl="8" class="step-figure">
          <div class="step-item">
            <p><span>3</span>Select and Send</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
